<ion-header>
  <ion-toolbar>
    <ion-title>
      Inventaire
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="addMedicine()">
        <ion-icon aria-hidden="true" name="add-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let medicine of medicines">
      <ion-label>
        <h2>{{ medicine.denomination_du_medicament }}</h2>
        <p>Code CIS: {{ medicine.code_cis }}</p>
        <p>Date AMM: {{ medicine.date_amm }}</p>
        <p>Etat de commercialisation: {{ medicine.etat_de_commercialisation }}</p>
        <p>Forme pharmaceutique: {{ medicine.forme_pharmaceutique }}</p>
        <p>Numéro autorisation: {{ medicine.numero_autorisation_europeenne }}</p>
        <p>Status administration: {{ medicine.statut_administratif_autorisation_de_mise_sur_le_marche }}</p>
        <p>Surveillance: {{ medicine.surveillance_renforcee }}</p>
        <p>Titulaire: {{ medicine.titulaire }}</p>
        <p>Autorisation procedure: {{ medicine.type_de_procedure_autorisation_de_mise_sur_le_marche }}</p>
        <p>Voies d'administration: {{ medicine.voies_administration }}</p>
        <p>Nombre: {{ medicine.nb_pills }}</p>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button (click)="editMedicine(medicine)">Edit</ion-button>
        <ion-button color="danger" (click)="deleteMedicine(medicine)">Delete</ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
</ion-content>
