<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      User profil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Manveer SINGH</ion-card-title>
      <ion-card-subtitle>Sécurité Sociale: 100079922383094</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>
            <h2>Age</h2>
            <p>45</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>Rhésus</h2>
            <p>O+</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>Allergies</h2>
            <p>Métanphétamine</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>Traitement</h2>
            <p>Aspinine, CBD</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>Conditions</h2>
            <p>Hypertension, Diabète</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>Contact d'urgence</h2>
            <p>Victor CHHAUV - 0777816595</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
